<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITaxManagement" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8090/WCF_Service" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ITaxManagement" contract="ITaxManagement"
                name="WSHttpBinding_ITaxManagement">
                <identity>
                    <userPrincipalName value="KazimierasZilys\Kazimieras Zilys" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>